@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #000;
  color: #fff;
  overflow-y: hidden;
}

.main {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  min-height: 100vh;

  &.night {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url("./images/bg-nighttime.jpg") center/cover no-repeat;
  }

  &.day {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url("./images/bg-daytime.jpg") center/cover no-repeat;
  }

  > div {
    margin-bottom: 7rem;

    h1 {
      font-size: 11rem;
      font-weight: 500;
    }

    h2 {
      text-transform: uppercase;
      font-weight: 500;

      svg {
        margin-right: 1rem;
        animation: rotating 2s infinite alternate;
      }
    }

    h3 {
      font-size: 2rem;
      font-weight: 500;
    }
  }

  button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10rem;
    padding-left: 5px;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: rgb(77, 77, 77);
    letter-spacing: 5px;
    width: 180px;
    height: 60px;
    border-radius: 35px;
    border: none;
    cursor: pointer;

    svg {
      &.down {
        transform: rotate(180deg);
      }

      &.up {
        transform: rotate(0deg);
      }
    }
  }
}

.moreInfo {
  max-width: 1100px;
  margin: 0 auto;
  padding: 50px 30px;

  > div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15rem;
    row-gap: 5rem;
  }

  h3 {
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 5px;
  }

  h1 {
    font-size: 3rem;
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(45deg);
  }
}
