.main {
  @include maxWidth;
  @include flex(space-between, center);

  > div {
    h1 {
      font-size: 10rem;
      font-weight: 700;

      span {
        font-size: 3rem;
        font-weight: 500;
      }
    }

    h2 {
      text-transform: uppercase;
      font-weight: 500;

      svg {
        margin-right: 1rem;
        animation: rotating 2s infinite alternate;
      }
    }

    h3 {
      font-size: 2rem;
      font-weight: 500;
    }
  }

  button {
    @include flex(space-around, center);
    padding-left: 5px;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(77, 77, 77);
    letter-spacing: 5px;
    width: 180px;
    height: 60px;
    border-radius: 35px;
    border: none;
    cursor: pointer;

    svg {
      &.down {
        transform: rotate(180deg);
      }

      &.up {
        transform: rotate(0deg);
      }
    }
  }
}
