.moreInfo {
  @include maxWidth;
  padding: 50px 30px;

  > div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15rem;
    row-gap: 5rem;
    height: 100%;
    width: 100%;
  }

  h3 {
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 5px;
  }

  h1 {
    font-size: 3rem;
  }
}
