.quotes {
  @include maxWidth;
  min-height: 250px;

  > div {
    @include flex(flex-start, flex-start);

    p {
      font-size: 1.3rem;
      max-width: 500px;
      text-shadow: 0 4px 4px #000;
      margin-right: 2rem;
    }

    button {
      background: none;
      border: none;
      cursor: pointer;

      & .loading {
        animation: loading 500ms infinite alternate;
      }
    }
  }

  h3 {
    margin-top: 1.5rem;
    text-shadow: 0 4px 4px #000;
  }
}
